.hover-effect-container{
    width: 100%;
    overflow: hidden;
}
.hover-effect-wrapper{
    visibility: hidden;
    opacity: 0;
}
.hover-effect-wrapper.active{
    visibility: visible;
    opacity: 1;
    animation: hover 1s linear 1 forwards;
}
@keyframes hover{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}