.ourServices-btn{
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    border-radius: 80px;
    overflow: hidden;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.14rem;
    font-weight: 500;
    margin-top: 15px;
    transition: background-color 0.3s;
    align-items: center;
    gap: 14px;
}
.ourServices-btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.ourServices-btn.active{
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes cross{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
.ourServices-btn span{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 850px) {
    .ourServices-btn{
        font-size: 14px;
        padding: 14px 20px;
    }
}