@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
:root{
  --txt-color: #ff7425;
  --bg-color: rgb(13, 13, 13);
}
body{
  font-family: 'Arimo', sans-serif;
  background-color: rgb(13, 13, 13);
  color: rgb(255, 255, 255);
}
.margin-top{
  margin-top: 91px;
}
@media screen and (max-width: 1000px) {
  .margin-top{
    margin-top: 61px;
  }
}
.btn-stroke .pxl-svg-line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0,-50%);
  -khtml-transform: translate(0,-50%);
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -o-transform: translate(0,-50%);
  transform: translate(0,-50%);
  width: 100%;
  margin-top: -2px;
  height: auto;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 3e3;
}