.home-cards{
    width: 100%;
    padding: 50px 30px;
    background-color: #121212;
}
.home-cards-inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:50px;
}
.home-cards-heading{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.home-cards-heading .hover-btn{
    flex-shrink: 0;
}
.heading-upper h1{
    font-size: 40px;
    font-weight: 700;
}
.heading-upper p{
    font-size: 14px;
    margin-top: 10px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--txt-color);
    letter-spacing: 0.14rem;
}
.home-cards-content{
    display: flex;
    gap:30px;
    justify-content: space-between;
}
.home-cards-content > *{
    width: calc(32% - 30px);
}
.home-cards-inner >p{
    font-size: 17px;
    font-weight: lighter;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;
}
@media screen and (max-width: 1000px) {
    .home-cards-content{
        flex-direction: column;
        align-items: center;
    }
    .home-cards-content > *{
        width: 100%;
        max-width: 350px;
    }
}
@media screen and (max-width: 700px) {
    .heading-upper h1{
        font-size: 30px;
    }
}